h1 Log in
h5 Select your role:

= link_to new_freelancer_session_path do
  button.btn.btn-success type='button' Freelancer
= link_to new_customer_session_path do
  button.btn.btn-info.ml-3 type='button' Customer
