h1 Sign up
h5 Select your role:

= link_to new_freelancer_registration_path do
  button.btn.btn-success type='button' Freelancer
= link_to new_customer_registration_path do
  button.btn.btn-info.ml-3 type='button' Customer
